@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
    <div style="text-align: center; margin-top: 15vh; margin-bottom: 15vh">
        <h1 style="font-size: 100px" class="text-danger">Oeps!</h1>
        <br />
        <h2 class="text-danger">Er ging iets niet helemaal goed.</h2>
        <h5 class="text-warning" style="">Reden: @ViewBag.Error</h5>
    </div>