@{
    ViewBag.Title = "Over de Top 2000";
}
<h2>@ViewBag.Title</h2>
<hr/>

<h3>VEELGESTELDE VRAGEN OVER DE TOP 2000.s</h3>
<p><b>1.</b> Wanneer mag ik stemmen voor de Top 2000?<br/>

Van 1 t/m 7 december kan je weer stemmen voor de Top 2000. Hou onze website in de gaten voor alle info.<br /><br />

<b>2.</b> Wanneer begint de Top 2000?<br />

De Top 2000 is van 25 december tot en met 31 december.<br /><br />

<b>3.</b> Hoe luister ik naar de NPO Radio 2 Top 2000?<br />

Lees alles over luisteren naar NPO Radio 2.<br /><br />

<b>4.</b> Waar is Top 2000 Visual Radio te zien?<br />

De Top 2000 is non-stop live te zien via nporadio2.nl en de NPO Radio 2-app.<br /><br />

<b>5.</b> Waarom zenden jullie de NPO Radio 2 Top 2000 24 uur per dag uit?<br />

In 1999, het eerste jaar van de Top 2000, is ervoor gekozen de lijst als bijzonder project, achter elkaar uit te zenden. Uit onderzoek onder luisteraars is gebleken dat geen onderbreking charmant werd gevonden en de spanning van de NPO Radio 2 Top 2000 zo bewaard bleef. Sommige luisteraars zetten zelfs de wekker om hun favoriete nummers te horen. Overigens zou een NPO Radio 2 Top 2000 die over meerdere dagen wordt gespreid ook niet volledig beluisterd kunnen worden door de meeste mensen. Sterker nog; meer mensen zullen in geval van een langere periode (12 i.p.v. 6 dagen) moeten werken en dus juist minder kunnen luisteren. Sinds 2009 is de NPO Radio 2 Top 2000 met 12 uur verlengd, naar 156 uur. In 2015 komt hier drie uur bij en duurt de Top 2000 dus 159 uur in totaal.<br /><br />

<b>6.</b> Hoe kan ik bij de NPO Radio 2 Top 2000 aanwezig zijn?<br />

De uitzendingen van de NPO Radio 2 Top 2000 vanuit Beeld en Geluid in Hilversum. Publiek is welkom om een gedeelte van de uitzending van de Top 2000 live bij te wonen. Er zijn een beperkt aantal plaatsen vooraf te reserveren voor een tijdslot van een half uur. Maar, onthoud: langskomen kan sowieso. Tijdens de Top 2000 kun je het café bezoeken voor slechts 3 euro p.p. (aan de deur). De plaatsen worden op volgorde van binnenkomst uitgedeeld, dus er kan sprake zijn van lange wachttijden! Zodra je een kaartje hebt dan is het niet meer nodig om in een wachtrij te staan. Je kunt je gewoon vermaken rondom Beeld en Geluid met andere leuke dingen. Het café is in principe toegankelijk van 05:00 - 03:00 uur, de laatste inloop is om 1:00 uur.

De openingstijden van het Top 2000 Café zijn:<br /><br />

25 december	8:00 - 3:00 uur<br />
26 t/m 30 december	5:00 – 3:00 uur<br />
31 december	5:00 – 20:15 uur (na 20:15 uur alleen met reservering)<br />


<b>7.</b> Wanneer wordt de complete lijst bekendgemaakt?<br />

De complete lijst is bekend op 20 december.<br /><br />

<b>8.</b> In welke kranten staat de lijst van de NPO Radio 2 Top 2000?<br />

Dit is nog niet bekend.<br /><br />

<b>9.</b> Wat voor tune draaien jullie toch steeds?<br />

Aan het begin van ieder uur hoor je: Tommy Overture (The Who). Deze is voor de eerste NPO Radio 2 Top 2000 in 1999 opnieuw opgenomen door het Metropole Orkest o.l.v. Dick Bakker. In 2016 is de tune in een nieuw jasje gestoken.<br /><br />

<b>10.</b> Kan ik de tunes van de NPO Radio 2 Top 2000 ergens downloaden?<br />

Nee, helaas mogen de tunes niet ter download aangeboden worden.<br /><br />

<b>11.</b> Wat is het dj-team?<br />

8:00 – 10:00 uur – Jan-Willem Roodbeen<br />

10:00 – 12:00 uur – Bart Arens<br />

12:00 – 14:00 uur – Gijs Staverman<br />

14:00 – 16:00 uur – Rob Stenders<br />

16:00 – 18:00 uur – Ruud de Wild<br />

18:00 – 20:00 uur – Wouter van der Goes<br />

20:00 – 22:00 uur – Annemieke Schollaardt<br />

22:00 – 00:00 uur – Paul Rabbering<br />

00:00 – 02:00 uur – Leo Blokhuis<br />

02:00 – 04:00 uur – Rick van Velthuysen<br />

04:00 – 06:00 uur – Frank van ’t Hof<br />

06:00 – 08:00 uur – Emmely de Wilt<br />

Op Tweede Kerstdag hoor je Timur Perlin tussen 20:00 - 22:00 uur.<br /><br />

<b>12.</b> Waarom brengen jullie de NPO Radio 2 Top 2000 niet helemaal uit op CD?<br />

Dat is een rechtenkwestie; lang niet alle platenmaatschappijen en/of artiesten geven toestemming voor het uitbrengen van hun nummer op zo'n CD. En wat zou een Top 2000 CD zijn zonder bijvoorbeeld de nummers van de The Beatles of The Rolling Stones? Op nporadio2.nl kun je de NPO Radio 2 Top 2000 editie 2017 terugluisteren. Ook zijn de edities van de Top 2000 via het officiële NPO Radio 2 Spotify-account beschikbaar.</p>
